<div id="cuerpo">
  <h1>Cliente login</h1>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="username" required/>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>contraseña</mat-label>

    <input matInput [type]="type" (click)="changeVisibility()" [(ngModel)]="password" class="oculto"/> <span>
      <mat-icon (click)="changeVisibility()" aria-label="Mode">{{
        isHide ? "visibility" : "visibility_off"
      }}</mat-icon>
    </span>

  </mat-form-field>
  <br>
  <mat-checkbox>Aceptar términos y condiciones del registro</mat-checkbox
  >
  <br>
  <br>
  <button mat-raised-button color="primary" [disabled]="!aceptar">Iniciar Sesión</button>
</div>
