<nav class="navbar">
    <ul class="nav-menu space-between center">
      <li>
        <a routerLink="/admin">Inicio</a>
      </li>
      <li>
        <a routerLink="/perfil">Perfil</a>
      </li>
      <li>
        <a>Configuración</a>
        <ul class="submenu">
          <li><a routerLink="/admin/user">Usuarios</a></li>
          <li><a routerLink="/admin/property">Propiedades</a></li>
        </ul>
      </li>
      <li class="logout-option">
        <a (click)="doLogOut()" class="">Cerrar sesión</a>
      </li>
    </ul>
  </nav>
