.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
  border-top-right-radius: 20px;
}

.nav-menu {
  list-style: none;
  padding: 0;
}

.nav-menu li {
  margin-bottom: 10px;
}

.submenu {
  display: none;
  list-style: none;
  padding: 0;
  margin-left: 10px;
}

.submenu li {
  margin-bottom: 5px;
}

.logout-option {
  margin-top: auto;
}
