<button mat-raised-button color="warn" (click)="deleteFromFavourites()">Borrar de la lista</button>
<div class="card" [routerLink]="['/property',property.id]">
  <div class="image-container">
    <img src="{{property.img | img}}"  alt="">
  </div>
  <div class="info-container">
    <h3>{{property.propertyType}}</h3>
    <div class="detail">
      <mat-icon class="button-icon">location_on</mat-icon>
      <h3>{{property.city}}</h3>
    </div>
    <h3>{{property.name}}</h3>
  </div>
  <div class="details-container">
  </div>
  <div class="price-container">
    <span class="price">{{property.price.toFixed(2)}} €</span>
  </div>
</div>

