<div class="contenedor-principal">
  <a routerLink="/home" id="title"><h1 class="title">INMOBOSCO</h1></a>
  <button mat-button class="icon-button" (click)="goToUsers()">
    <mat-icon class="button-icon">people</mat-icon>Usuarios
  </button>
  <button mat-button class="icon-button" (click)="goToProperties()">
    <mat-icon class="button-icon">home</mat-icon>Propiedades
  </button>
  <button mat-button class="icon-button" (click)="doLogOut()">
    <mat-icon class="button-icon">exit_to_app</mat-icon>Cerrar sesión
  </button>
</div>
