<div class="principal">
  <app-navbar></app-navbar>
  <div class="contenedor-central">
    <img id="img" src="../../../assets/logo azul.png" alt="">
    <h2 class="title">"Nuestra misión principal es bienestar de nuestros clientes"</h2>
    <div class="info">
          <p >
      Como parte de la comunidad salesiana, nos inspiramos en los valores educativos y de servicio de San Juan Bosco.
      Nos esforzamos por ser una empresa socialmente responsable, contribuyendo al bienestar de la sociedad y apoyando
      iniciativas solidarias. En InmoBosco, no solo buscamos ser líderes en el mercado inmobiliario, sino también en la
      construcción de un mundo mejor.

      En resumen, en InmoBosco nos guiamos por los valores de integridad, excelencia, colaboración y compromiso. Estos
      valores son la base de nuestro éxito y nos impulsan a brindar un servicio excepcional a nuestros clientes, a
      trabajar en equipo y a contribuir positivamente a nuestra comunidad.
    </p>
    </div>

  </div>
</div>
